{% extends "layout.html" %}

{% block title %}
    Database
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>Link</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for row in urls %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td><form action="/delete" method="get">
                        <input type="hidden" id="url" name="url" value="{{ row[0] }}">
                        <input type="hidden" id="name" name="name" value="{{ row[1] }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}