{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="container text-center">
        <h2>Enter a valid url to check if it could potentially be a fake link</h2>
        <form action="/check" method="get">
            <input autocomplete="off" class="form-control mx-auto w-auto" placeholder="URL" name="url" id="url" type="text">
            <br>
            <button type="submit" class="btn btn-primary">Check</button>
        </form>
    </div>
{% endblock %}